<div class="d-flex justify-content-center align-items-center" style="height: 300px;)">
  <h1 style="align-item: center">Joe does not sucks</h1>
</div>

<% @lists.each do |list| %>
  <h5><%= link_to list.name, list_path(list) %></h5>
<% end %>

<div class="btn btn-dark"><%= link_to "Create new list", new_list_path %></div>